extends partials/layout.pug

block content

    article.game-help.info-block
        h2.sub-header How to play Wurdl
        p 
            | The object of the game is to guess the final word. Each guess returns
            | some clues. If you see a letter in 
            span.letter.check-0 gray
            | , it does not appear in the final word. If you see a letter in 
            span.letter.check-1 yellow
            | , it appears in the solution, but not in the position you 
            | guessed. And if you see a letter in 
            span.letter.check-2 green
            | , you have the letter correct & in the correct position!
        p 
            | Once you complete the word, you win! If you do,
            | can try a new word! If you would like another word, you can request one.

        p 
            | The in-game keybard shows letters with any results you got before.

        p 
            | Words come from the official 
            a(href='https://scrabble.merriam.com/', target='_blank') Scrabble dictionary
            | . When you guess a word, it must be in the game's dictionary!

        p 
            strong Note: 
            | Some words have more than 1 of the same letter (for example, "green")! 
            | In this case, you may get a green or yellow indicator when you use one 
            | of those letters, but there may be a duplicate!
        
        aside.actions
            input.close-help.button(type='button', value='Close')

    article.game-options.info-block
        h2.sub-header Game Options

        label(for='dark-mode')
            h3.no-break Dark Mode
            input.dark-mode(type='checkbox', id='dark-mode')

        h3 Word Depth
        p 
            | How difficult do you want the word to be?
            br
            | (Note, this takes effect on the 
            em next
            |  word!)
        aside.radio-set
            label(for='word-depth-easy')
                input.word-depth(type='radio', name='word-depth', id='word-depth-easy', value='1')
                | Easy
            label(for='word-depth-med')
                input.word-depth(type='radio', name='word-depth', id='word-depth-med', value='2')
                | Medium
            label(for='word-depth-hard')
                input.word-depth(type='radio', name='word-depth', id='word-depth-hard', value='3')
                | Hard
        
        h3 Duplicate Letters
        label(for='dupe-letters')
            | Include Duplicate Letters
            input.dupe-letters(type='checkbox', id='dupe-letters')
        p 
            br
            | (Note, this takes effect on the 
            em next
            |  word!)
        
        
        aside.actions
            input.close-options.button(type='button', value='Close')

    article.game-board 
        section.past-guesses
            each guess in guesses
                aside.guess
                    each letter in guess
                        span(class='letter check-' + letter.check)= letter.letter
        
        if !solved
            section.guess-inputs
                aside.guess
                    - var i = 0;
                    while i < wordLength
                        span.input.letter(id='guess-' + i)
                        - i++
                
                p.guess-info.hidden
            
            section.all-letters
                aside.row.top-row
                    each letter in ['q', 'w', 'e', 'r', 't', 'y', 'u', 'i', 'o', 'p']
                        span(class='letter letter-' + letter)= letter
                aside.row.middle-row
                    each letter in ['a', 's', 'd', 'f', 'g', 'h', 'j', 'k', 'l']
                        span(class='letter letter-' + letter)= letter
                aside.row.bottom-row
                    each letter in ['z', 'x', 'c', 'v', 'b', 'n', 'm', 'del']
                        span(class='letter letter-' + letter)= letter
            
            input.submit-guess(type='button', id='submit-guess', value='guess')
        
        - var hideSolution = 'hidden'
        - var hideGiveup = ''
        if solved
            - hideSolution = ''
            - hideGiveup = 'hidden'
        p(class='solution-info ' + hideSolution)
            if solved
                - var suffix = ''
                if guesses.length > 1
                    - suffix = 'es'
                | Congratulations! You won in
                strong= guesses.length 
                = ' guess' + suffix + '!'
                br
                br
                | The answer was
                a(target='_blank', href='https://scrabble.merriam.com/finder/' + solution)= solution
                | .

        p.surrender-info.hidden
            | Game over! Try again?
            br
            | The word was 
            a.answer(target='_blank', href='https://scrabble.merriam.com/finder/') ???
            | .
        

        aside.actions
            a(href='#', class='give-up button ' + hideGiveup) Give Up
            a(href='/?new', class='new-word button ' + hideSolution) New Word
            
        article.stats
            p
                | As of now, you have played 
                span.play-count 0
                |  games 
                br
                | and won 
                span.win-count 0
                |  of those (
                span.win-percent 0
                | %)
                br
                | with an average of
                span.guess-avg 0
                |  guesses per puzzle.
            p
                | You have quit
                span.quit-count 0
                |  games, or 
                span.quit-percent 0
                | % of played games.
            
            aside.actions
                a(href='/history', class='game-history button') Game History
                a(href='#', class='reset-stats button') Reset Stats
                //- input.reset-stats.button(type='button', value='Reset Stats')

    script(src='game.js')
